<?xml version="1.0"?>
<ruleset name="WP-CLI-buddypress">

	<!-- What to scan. -->
	<file>src</file>
	<file>wp-cli-bp.php</file>

	<!-- Show progress. -->
	<arg value="psn"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Load WP CLI Coding standards -->
	<rule ref="WP_CLI_CS"/>

	<!-- For help understanding the `testVersion` configuration setting:
		 https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="5.6-"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedClassFound">
		<exclude-pattern>*/src/BP_(Activity|Activity_Favorite)_Command\.php$</exclude-pattern>
		<exclude-pattern>*/src/BP_(Components|Email|Friends|Member)_Command\.php$</exclude-pattern>
		<exclude-pattern>*/src/BP_Group_(Meta|Invite|Member)_Command\.php$</exclude-pattern>
		<exclude-pattern>*/src/BP_Group_Command.php$</exclude-pattern>
		<exclude-pattern>*/src/BP_(Message|Notification|Signup|Tool)_Command\.php$</exclude-pattern>
		<exclude-pattern>*/src/BP_XProfile_(Data|Field|Group)_Command\.php$</exclude-pattern>
		<exclude-pattern>*/src/BP_XProfile_Command.php$</exclude-pattern>
		<exclude-pattern>*/src/BuddyPressCommand.php$</exclude-pattern>
		<exclude-pattern>*/src/BuddyPressBase.php$</exclude-pattern>
		<exclude-pattern>*/src/Fetchers/*.php$</exclude-pattern>
	</rule>

	<rule ref="PEAR.Functions.FunctionCallSignature.CloseBracketLine">
		<severity>0</severity>
	</rule>

	<rule ref="PEAR.Functions.FunctionCallSignature.MultipleArguments">
		<severity>0</severity>
	</rule>

	<rule ref="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound">
		<severity>0</severity>
	</rule>

	<rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound">
		<severity>0</severity>
	</rule>
</ruleset>
