<?xml version="1.0"?>
<ruleset name="wp-cli-buddypress">

	<!-- What to scan. -->
	<file>src</file>
	<file>wp-cli-bp.php</file>

	<!-- Show progress. -->
	<arg value="psn"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Load WP CLI Coding standards -->
	<rule ref="WP_CLI_CS"/>

	<!-- For help understanding the `testVersion` configuration setting:
		https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="5.6-"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
		<exclude-pattern>*/src/templates/bootstrap-buddypress.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedFunctionFound">
		<exclude-pattern>*/src/templates/bootstrap-buddypress.php</exclude-pattern>
	</rule>

	<rule ref="PEAR.Functions.FunctionCallSignature.CloseBracketLine">
		<severity>0</severity>
	</rule>

	<rule ref="PEAR.Functions.FunctionCallSignature.MultipleArguments">
		<severity>0</severity>
	</rule>

	<rule ref="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound">
		<severity>0</severity>
	</rule>

	<rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound">
		<severity>0</severity>
	</rule>
</ruleset>
